/* Raleway Google font */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,900');

$white: #ffffff;
$black: #1f1f1f;
$gray: #a2a2a2;
$innonic-light-emerald: #31accd;
$innonic-dark: #182636;
$innonic-emerald: #265568;

html {
    font-size: 7px;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $white;
    text-align: center;
}

/*  Banner */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 297px;
    background: url('/img/banner.jpg') no-repeat center center;
    background-size: cover;
    margin-bottom: 6rem;
}

.section-title {
    color: $white;
    padding: 3rem;
    &::after {
        filter:brightness(500%);
    }
}

/*      Stages      */

.stages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stage-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    embed {
        position: absolute;
        width: 34%;
        left: 32%;
    }
}

.badge-text, 
.badge-text-nums {
    background: linear-gradient(to right, $innonic-emerald 0%, $innonic-light-emerald 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 1.2rem;
}

.badge-text-nums {
    justify-content: center;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.2;
/*     margin-top: .3rem;
    margin-left: .2rem; */
    top: 34%;
    left: 29%;   
    span {
        font-size: 3rem;
        font-weight: 800;
    } 
}

.twofour {
    margin-left: 1rem;
}

.describe {
    width: 70%;

    .stages-h2 {
        text-transform: uppercase;
        font-size: 3.2rem;
        font-weight: 800;
        margin: 0 auto;
        padding-bottom: 1rem;
        color: $black;
    }
    .stages-subhead {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin: 0 auto;
        padding-bottom: 1rem;
        color: $black;
    }
    .stages-p {
        color: $gray;
    }
}



/* finance */

.finance {
    background: url("/img/-e-finanszirozas_bg.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 5rem;
}

.cap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 4rem auto;
    padding: 0 3rem;
}

.cap-describe {
    .cap-h2 {
        font-weight: 800;
    }
}
.chart {
    width: 60%;
}

.pie-chart {
    border-radius: 50%;
    box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.3);
    margin: 2rem;
}

.chart-describe {
    list-style: none;
}

.chart-describe li {
    padding: .5rem 0;
}

.color {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: -28px;
    border-radius: 50%;
    border: 1px solid $white;
}

.a-30-1,
.s-60 {
    background: $white;
}
.a-20,
.s-20 {
    background: #d7d7d7;
}
.a-10-1,
.s-10-1 {
    background: #b7b7b7;
}
.a-10-2,
.s-10-2 {
    background: #959595;
}
.a-30-2 {
    background: #707070;
}

.comment {
    opacity: .6;
}
  
/* Difference from others */

.difference {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    background: #ececec;
    .section-title {
        color: $black;
        &::after {
            filter: none;
        }
        margin-bottom: 5rem;
    }
}

.table {
    display: flex;
    flex-flow: row wrap;
    color: $black;
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 1.6rem .5rem;
            height: 50px;
            font-size: 1.5rem;
        }
    }
}

.table li:not(:first-of-type){
    border-top: 1px solid lighten($gray, 20%);
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $white;
    embed {
        width: 60%;
    }
    padding: 3rem;
}

.innonic-way,
.accelerator-way {
    width: 60%;
}
.accelerator-way {
    background: lighten($gray, 32%);
}
.innonic-way {
    box-shadow: 6px 8px 30px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
}

.titles {
    .logo {
        visibility: hidden;
    }
    background: none;
    width: 35%;
}

/* Bootcamp */

.bootcamp-bg {
    padding: 5rem 0;
    background-image: url("/img/bg-image.png"), linear-gradient(to top, $innonic-dark, #09455b);
    background-size: cover;
    .row {
        padding-right: 2rem;
        padding-left: 2rem;
    }
}

.subhead, 
.bootcamp-p {
    opacity: .7;
}

.bootcamp-h3 {
    font-weight: 800;
}
.bootcamp-modules {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.bootcamp-modules:last-child {
    margin-bottom: 4rem;
}

.bootcamp-icon {
    width: 20%;
    opacity: .7;
    margin-right: 3rem;
}

.modules-text {
    width: 80%;
}

.panel {
    margin: 4rem auto;
    background-color: none;
    box-shadow: none;
    border: solid 1px $innonic-light-emerald;
}

.panel-group {
    min-height: 400px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-default>.panel-heading {
    color: $white;
    background: $innonic-dark;
    border-radius: 0;
    padding: 3rem;
    display: flex;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

.panel-title a{
    font-weight: 800;
    line-height: 1.5;
}

.panel-body p {
    opacity: .7;
    padding: 0 1rem;
}

.panel-body ul {
    opacity: .7;
}

.panel-body {
    background: $innonic-dark;
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e260";
    color: $innonic-light-emerald;
    margin: 0 2rem;
    float: left;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e258";
}

/*   Media Querri's   */

@media screen and ( min-width: 576px ){
    html {
        font-size: 7px;
    }
}

@media screen and ( min-width: 768px ){
    html {
        font-size: 8px;
    }

    .bootcamp-icon {
        width: 10%;
    }
}

@media screen and ( min-width: 992px ){
    html {
        font-size: 8px;
    }

    .chart {
        width: 30%;
    }

    .bootcamp-icon {
        width: 10%;
    }
}

@media screen and ( min-width: 1200px ){

    html {
        font-size: 10px;
    }

    .badge-text {
        top: 40%;
        left: 18%;
    }

    .badge-text-nums {
        top: 25%;
        left: 25%;
    }

    .finance {
        padding-top: 0;
    }

    .rect {
        height: 50px;
        background: $white;
        margin-bottom: 5rem;
        box-shadow: 0px 20px 40px -7px rgba(0, 0, 0, 0.4);
    }

    .cap {
        flex-direction: row;
        justify-content: space-between;
        .cap-describe {
            width: 40%;
        }
        .chart {
            width: 25%;
        }
        .chartlist {
            width: 30%;
        }
    }

    /* Difference */

    .column {
        width: 30%;
        embed {
            width: 50%;
        }
    }

    .accelerator-way {
        /* transform: scale(.95); */
        margin-left: -20px;
    }

    .accelerator {
        padding: 1rem;
    }

    .innonic-way {
        margin-bottom: 0;
    }

    .titles {
        li {
        width: 250px;
        }
    }

    /* Bootcamp */    

    .bootcamp-wrapper {
        border: 2px solid $white;
        margin: 4rem auto;
    }

    .bootcamp{
        width: 90%;
        margin: -3.4rem auto;
        padding-bottom: 5rem; 
       .bootcamp-h3 {
            background: $innonic-emerald;
            margin-bottom: 3rem;
            display: flex;
            justify-content: center;
            width: 650px;
            align-items: center;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .modules-text {
        width: 70%;
    }

    .bootcamp-icon {
        width: 8%;
    }

}