/* Raleway Google font */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,900');

html {
    font-size: 7px;
    font-feature-settings: 'lnum';
    -moz-font-feature-settings: 'lnum=1';
    -ms-font-feature-settings: 'lnum';
    -webkit-font-feature-settings: 'lnum';
    -o-font-feature-settings: 'lnum';
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.7;
    color: #fff;
    text-align: center;
}

/*  Banner */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 297px;
    background: url('/img/banner.jpg') no-repeat center center;
    background-size: cover;
}

.section-title {
    color: #fff;
    padding: 3rem;
    &::after {
        filter:brightness(500%);
    }
}

/*      Stages      */

.stages-container {
    margin-bottom: 5rem;
}

.stages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.stage-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    embed {
        position: absolute;
        width: 34%;
        left: 32%;
        fill: #000000;
    }
}

.badge-text, 
.badge-text-nums {
    background: linear-gradient(to right, #015979 0%, #11b5be 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    font-weight: 800;
    position: absolute;
    top: 40%;
    left: 25%;
    font-size: 1.2rem;
}

.badge-text-nums {
    span {
        font-size: 3rem;
        font-weight: 800;
    }
    justify-content: center;
    font-weight: 300;
    font-size: 2rem;
    line-height: 1.2;
    top: 34%;
    left: 29%;    
}

.describe {
    width: 70%;

    .stages-h2 {
        text-transform: uppercase;
        font-size: 3.2rem;
        font-weight: 800;
        margin: 0 auto;
        padding-bottom: 1rem;
        color: #1f1f1f;
    }
    .stages-subhead {
        text-transform: uppercase;
        font-size: 1.5rem;
        margin: 0 auto;
        padding-bottom: 1rem;
        color: #1f1f1f;
    }
    .stages-p {
        color: a2a2a2;
    }
}



/* finance */

.finance {
    background: url("/img/-e-finanszirozas_bg.jpg") no-repeat center center;
    background-size: cover;
    padding-top: 12rem;
    padding-bottom: 5rem;
}

.cap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    padding: 0 3rem;
}

.cap-describe {
    width: 40%;
    .cap-h2 {
        font-weight: 800;
    }
}
.chart {
    width: 30%;
}

.pie-chart {
    border-radius: 50%;
    box-shadow: 0px 4px 12px 0 rgba(0, 0, 0, 0.3);
    margin: 2rem;
}
.chartlist {
    width: 20%;
}

.chart-describe {
    list-style: none;
    &li:before {
        content: '';
        border-radius: 50%;
        background: #fff;
        width: 20px;
        height: 20px;
    }
  }

.comment {
    opacity: .6;
}
  
/* Difference from others */

.difference {
    padding-top: 5rem;
    padding-bottom: 5rem;
    width: 100%;
    background: #ececec;
    .section-title {
        color: #1f1f1f;
        &::after {
            filter: none;
        }
        margin-bottom: 5rem;
    }
}

.table {
    display: flex;
    flex-direction: row;

    color: #000000;
    ul {
        list-style: none;
        padding: 0;
        li {
            padding: 1.6rem .5rem;
            height: 45px;
            font-size: 1.5rem;
        }
    }
}

.table li:not(:first-of-type){
    border-top: 1px solid #cdd3d4;
}

.column {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #fff;
    embed {
        width: 60%;
    }
    padding: 3rem;
}

.titles {
    .logo {
        visibility: hidden;
    }
    background: none;
    width: 35%;
}

.innonic-way {
    margin-left: -14px;
    width: 75%;
}

/* Bootcamp */

.bootcamp-bg {
    padding: 5rem 3rem;
    background-image: url("/img/bg-image.png"), linear-gradient(to top, #182636, #09455b);
    background-size: cover;
}

.subhead, 
.bootcamp-p {
    opacity: .7;
}

.bootcamp-h3 {
    font-weight: 800;
}
.bootcamp-modules {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.bootcamp-modules:last-child {
    margin-bottom: 4rem;
}

.bootcamp-icon {
    width: 20%;
    opacity: .7;
    margin-right: 3rem;
}

.modules-text {
    width: 80%;
}

.gyik {

}

.panel {
    margin: 4rem auto;
    background-color: none;
    box-shadow: none;
    border: solid 1px #31accd;
}

.panel-group {
    min-height: 400px;
}

.panel-group .panel {
    border-radius: 0;
}

.panel-default>.panel-heading {
    color: #fff;
    background: #182636;
    border-radius: 0;
    padding: 3rem;
    display: flex;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body {
    border-top: none;
}

.panel-title a{
    font-weight: 800;
    line-height: 1.5;
}

.panel-body p {
    opacity: .7;
    padding: 0 1rem;
}

.panel-body {
    background: #182636;
}

.panel-heading .accordion-toggle:after {
    font-family: 'Glyphicons Halflings';
    content: "\e260";
    color: #31accd;
    margin: 0 3rem;
}

.panel-heading .accordion-toggle.collapsed:after {
    content: "\e258";
}















/*   Media Querri's   */

@media screen and ( min-width: 576px ){
    html {
        font-size: 7px;
    }
}

@media screen and ( min-width: 768px ){
    html {
        font-size: 8px;
    }

}

@media screen and ( min-width: 992px ){
    html {
        font-size: 8px;
    }
   
}

@media screen and ( min-width: 1200px ){

    html {
        font-size: 10px;
    }

    .badge-text {
        top: 40%;
        left: 18%;
    }

    .badge-text-nums {
        top: 25%;
        left: 25%;
    }

    .finance {
        padding-top: 0;
    }

    .rect {
        height: 50px;
        background: #fff;
        margin-bottom: 5rem;
        box-shadow: 0px 20px 40px -7px rgba(0, 0, 0, 0.4);
    }

    /* Difference */

    .column {
        width: 30%;
        embed {
            width: 50%;
        }
    }

    .accelerator-way {
        width: 40%;
    }

    /* Bootcamp */    

    .bootcamp-wrapper {
        border: 2px solid #fff;
        margin: 4rem auto;
    }

    .bootcamp{
        width: 90%;
        margin: -3.4rem auto;
        padding-bottom: 5rem; 
       .bootcamp-h3 {
            background: #265568;
            margin-bottom: 3rem;
            display: flex;
            justify-content: center;
            width: 650px;
            align-items: center;
            text-align: center;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .modules-text {
        width: 70%;
    }

    .bootcamp-icon {
        width: 8%;
    }

    .gyik {
    }
}